* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-bottom: 1px solid #000;
}

main {
  flex: 1;
  background-image: linear-gradient(135deg, #8bfda9 0, #8afda9 3%, #87e9c4 14%, #85dad9 27%, #78c5ec 46%, #5ba7ff 59%, #577ef1 76%, #4b54f3 88%, #4838c8 100%);
  background-repeat: no-repeat;
  padding: 115px 0 20px;

  p {
    margin-bottom: 0;
  }
}

footer {
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  font-size: 10px;

  small {
    font-size: 10px;
  }
}

h1 {
  font-size: 20px;
}

ul {
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: block;
  width: 100px;
  margin-bottom: 10px;
}

.sub-logo-text {
  font-size: 10px;
}

.bold-text {
  font-weight: 700;
}

.footer-logo {
  width: 50px;
}

.legal-list {
  list-style-type: none;
  margin: 20px 0;

  li {
    margin: 5px 0;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

@media screen and (min-width: 769px) {
  body {
    font-size: 16px;
  }

  header {
    padding: 30px 0;
  }

  main {
    padding: 150px 0 30px;
  }

  footer {
    padding: 40px 0;
    font-size: 12px;

      small {
      font-size: 12px;
    }
  }

  h1 {
    font-size: 28px;
  }

  .container {
    max-width: 800px;
    padding: 0 40px;
  }

  .logo {
    width: 200px;
  }

  .sub-logo-text {
    font-size: 12px;
  }

  .footer-logo {
    width: 100px;
  }
}
